<div id="question_form">
  <%= form_for @question do |f| %>

  <%= render 'shared/errors', model: @question %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('questions.title') %>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <%= f.label :statement %>
        <%= f.text_area :statement, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :question_type %>
        <%= f.select :question_type, question_type_for_select, {}, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('questions.classification.title') %>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <%= label_tag 'discipline', t('helpers.label.question.discipline') %>
        <%= select_tag :discipline, nil, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag 'great_theme', t('helpers.label.question.great_theme') %>
        <%= select_tag :great_theme, nil, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag 'knowledge_object', t('helpers.label.question.knowledge_object') %>
        <%= select_tag :knowledge_object, nil, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :ability, t('helpers.label.question.ability') %>
        <%= f.select :ability_id, {}, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :competence, t('helpers.label.question.competence') %>
        <%= f.select :competence_id, competences_for_select, {}, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('questions.answers.title') %>
    </div>

    <div class="panel-body">
      <%= f.fields_for :answers do |a| %>
        <%= render 'questions/answer_fields', f: a %>
      <% end %>

      <%= link_to_add_association f, :answers, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>

  <%= link_to 'Voltar', :back, class: 'btn btn-default' %>
  <% if @question.persisted? %>
    <%= link_to 'Excluir', question_path(@question), method: :delete, data: { confirm: 'Confirme' }, class: 'btn btn-danger' %>
  <% end %>
  <%= f.submit t('questions.create'), class: 'btn btn-primary' %>

  <% end %>

</div>

<%= javascript_include_tag 'questions/new' %>
