<%= form_for @discipline do |f| %>

  <%= render 'shared/errors', model: @discipline %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <%= link_to 'Voltar', :back, class: 'btn btn-default' %>
  <% if @discipline.persisted? %>
    <%= link_to 'Excluir', discipline_path(@discipline), method: :delete, data: { confirm: 'Confirme' }, class: 'btn btn-danger' %>
  <% end %>
  <%= f.submit t('disciplines.create'), class: 'btn btn-primary' %>
<% end %>
