<div class="row" id="abilities_index">
  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to t('abilities.new'), new_ability_path, class: "btn btn-default navbar-btn" %>
        </div>
      </div>
    </nav>

    <div id="search_form">
      <%= form_tag abilities_path, :method => 'get' do %>
        <div class="row">
          <div class="col-lg-6">
            <%= label_tag 'discipline_id', t('helpers.label.question.discipline'), class: 'control-label' %>
            <%= select_tag :discipline_id, nil, {class: 'form-control control-margin'} %>
            <%= label_tag 'great_theme_id', t('helpers.label.question.great_theme'), class: 'control-label' %>
            <%= select_tag :great_theme_id, nil, {class: 'form-control control-margin'} %>
            <%= label_tag 'knowledge_object_id', t('helpers.label.question.knowledge_object'), class: 'control-label' %>
            <%= select_tag :knowledge_object_id, nil, {class: 'form-control control-margin'} %>
            <%= submit_tag t('actions.index'), class: 'btn btn-primary control-margin' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="list-group">
      <label class="list-group-item">
        <%= t('abilities.index') %>
      </label>
      <% @abilities.each do |a| %>
        <p class="list-group-item">
          <%= a.description %>
        </p>
        <% end %>
    </div>

  </div>
</div>

<%= javascript_include_tag 'abilities/index' %>
