<div class="row" id="great_themes_index">
  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to t('great_themes.new'), new_great_theme_path, class: "btn btn-default navbar-btn" %>
        </div>
      </div>
    </nav>

    <div id="search_form">
      <%= form_tag great_themes_path, :method => 'get' do %>
        <div class="row">
          <div class="col-lg-6">
            <%= render 'shared/select_discipline' %>
            <%= submit_tag t('actions.index'), class: 'btn btn-primary control-margin' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="list-group">
      <label class="list-group-item">
        <%= t('great_themes.index') %>
      </label>
      <% @great_themes.each do |g| %>
        <%= link_to edit_great_theme_path(g), class: 'list-group-item' do %>
          <%= g.description %><br />
          <em class="text-muted"><%= g.discipline.description %></em>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<%= javascript_include_tag 'great_themes/index' %>
